body {
    background-color: #fee6c8;
}

h1 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 18px;
}

p {
    font-family: Helvetica;
    font-size: 16px;
    margin-top: 1.5em;
    line-height: 1.5;
}

ul {
    font-family: Helvetica;
    font-size: 16px;
    overflow: hidden;
}

li{
    margin: 7px;
}

img {
    border-radius: 10px;
    margin-right: 30px;
}

.flex-container-outer {
    display: flex;
    margin-top: 10em;
    justify-content: center;
    align-items: center;
}

.flex-container-inner {
    display: flex;
    inline-size: 35em; 
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
}

.networking {
    margin-top: 3em;
}